* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #666;
    text-align: center;
    background-color: #fff;
}

header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #ffe8d6 50%, #ede7f6 50%);
    padding: 0 32px 40px;
}

h1 {
    font-size: 288px;
    font-weight: 900;
    letter-spacing: -3px;
    color: rgba(255, 255, 255, 0.96);
    line-height: 0.9;
}

@media (max-width: 800px) {
    h1 {
        font-size: 112px;
        line-height: 1.5;
    }
}

.subhead {
    font-size: 48px;
    font-weight: 600;
    color: #929292;
}

@media (max-width: 550px) {
    .subhead {
        font-size: 40px;
    }
}

.support-line {
    font-size: 32px;
    font-weight: 600;
    color: #444;
    margin-top: 88px;
}

.keywords {
    font-size: 16px;
    color: #888;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 16px 0;
}

.cta {
    padding: 16px 32px;
    font-size: 16px;
    background: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 24px;
    font-weight: 600;
    margin-top: 8px;
}

.disabled {
    background: #ccc;
    pointer-events: none;
    cursor: pointer;
}

section {
    padding: 80px 32px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.intro p {
    max-width: 800px;
    font-size: 32px;
    color: #888;
    line-height: 1.6;
    margin-bottom: 24px;
    text-align: left;
}

section.intro p span.highlight {
    color: #444;
}

section.am {
    background: #ffe8d6;
}

section.pm {
    background: #ede7f6;
}

h2 {
    font-size: 48px;
    color: #222;
    margin-bottom: 24px;
}

section>p {
    font-size: 20px;
    color: #555;
}

.notes {
    text-align: left;
}

.ingredients {
    margin-top: 40px;
    text-align: left;
    max-width: 500px;
}

.ingredient {
    margin-bottom: 32px;
}

.ingredient h3 {
    font-size: 20px;
    color: #222;
    margin-bottom: 4px;
}

.ingredient p {
    font-size: 18px;
    color: #444;
    line-height: 1.5;
    margin: 0;
}

.final {
    background: #fff;
}

.final h2 {
    font-size: 48px;
    color: #929292;
    margin-bottom: 16px;
}

.final-subhead {
    font-size: 32px;
    font-weight: 600;
    color: #444;
    margin-top: 32px;
}

.final-support-line {
    font-size: 20px;
    color: #444;
    margin-top: 16px;
}

footer {
    padding: 16px 0;
    font-size: 14px;
    color: #aaa;
    background: #f7f7f7;
}

.final a {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #666;
}

.final a:hover {
    cursor: pointer;
}

.final a:hover>.a-text {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    margin-top: 80px;
}

input {
    display: block;
    width: 300px;
    box-sizing: border-box;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 12px 16px;
    font: inherit;
}

select {
    display: block;
    width: 300px;
    box-sizing: border-box;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 12px 16px;
    font: inherit;

    background-image: url("/assets/icons/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 10px;

    padding-right: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input:focus,
select:focus {
    outline: none;
    border-color: #111;
}

button:hover {
    background: #333;
}

button {
    background: #111;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 12px 16px;
    font: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background: #222;
}

button:disabled {
    background: #ccc;
}